body {
    margin: 0;
    padding: 0;
    background: url(estacionamento.jpg);
    background-size: 100% 100%;
    background-position: center;
    font-family: sans-serif;
}

#navbar {
    background-color: rgba(255, 255, 255, 0.1) !important;
}

.navbar-brand {
    font-size: 0.5em !important;
}

html,
body {
    width: 100%;
    height: 100%;
}

.login-box {
    width: 320px;
    height: 420px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.login-box p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.login-box input {
    width: 100%;
    margin-bottom: 20px;
}

.login-box input[type="text"],
input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.login-box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #1c8adb;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.login-box input[type="submit"]:hover {
    cursor: pointer;
    background: #39dc79;
    color: #000;
}

.login-box a {
    text-decoration: none;
    font-size: 14px;
    color: #fff;
}

.login-box a:hover {
    color: #39dc79;
}

#btninicio {
    margin-left: 1cm;
    padding-top: 1cm;
}

#table {
    color: #fff;
    top: 30%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -40%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.table-responsive {
    display: block;
    position: relative;
    width: 100%;
}

.table-responsive thead,
.table-responsive tbody,
.table-responsive th,
.table-responsive td,
.table-responsive tr {
    display: block;
}

.table-responsive td,
.table-responsive th {
    height: 35px;
}

.table-responsive thead {
    float: left;
}

.table-responsive tbody {
    width: auto;
    position: relative;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
}

.table-responsive tbody tr {
    display: inline-block;
}

#criar {
    margin-left: 0.5em;
}